@use "../../../variables.scss" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  border: solid 1px var(--foreground);
  width: 170px;
  height: 64px;
  gap: $gap-medium;
  padding: $padding-medium;
}

.btn-secondary {
  border: none;
  width: 138px;
  height: 32px;
  gap: $gap-small;
}

.btn-label {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: right;
  color: var(--foreground);
  vertical-align: bottom;
}

.btn-icon {
  width: 32px;
  height: 32px;
}
