@use "../../../variables.scss" as *;

.menu-option {
  width: 100%;
}

.menu-option-container {
  display: flex;
  background-color: var(--background);
  height: 40px;
  justify-content: flex-end;
  gap: $gap-medium;
  padding: $padding-xtrasmall $padding-small;
}

.menu-option-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 4px;
}

.menu-option-button-active {
  opacity: 1;
}

.menu-option-button-inactive {
  opacity: 0.6;
}

.menu-option-icon {
  width: 24px;
  height: 24px;
}

// variablles / components
.menu-option-label {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: right;
  color: var(--foreground);
}

button {
  border: none;
  background: none;
  padding: 0;
}
