@keyframes ticker-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.ticker_content {
  display: inline-block;
  white-space: nowrap;
  animation: ticker-scroll 10000ms linear infinite;
}
