@use "../../../variables.scss" as *;

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 804px; // review
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  padding: $padding-large;
  box-sizing: border-box;
  transform: translateY(-100%);
}

.menu.slideDown {
  animation: slideDown 0.3s forwards;
}

.menu.slideUp {
  animation: slideUp 0.3s forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-120%); // review
  }
}

.menu-navigation {
  display: flex;
  flex-direction: column;
}

.menu-navigation button {
  padding-top: $padding-xtrasmall;
  color: var(--foreground);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}
