@use "./variables.scss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  /* overflow: hidden; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

iframe {
  display: block;
}

p {
  margin: 0;
}

hr {
  width: 100%;
  background-color: #e8e5e1;
  border: none;
  height: 1px;
  margin: 16px 0;
}
