html,
body,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
	font-family: sans-serif;
	/* overflow: hidden; */
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

iframe {
	display: block;
}