@use "sass:map";
@use "sass:color";

$themes: (
  light: (
    // background: ,
    // foreground: ,
    // background-gentle: ,
    // foreground-gentle: ,,,,,,,,,,,,,,,,
  ),
  dark: (
    background: #000000,
    foreground: #e8e5e1,
    background-gentle: #363636,
    // foreground-gentle: ,
  ),
);

@function theme($mode, $key) {
  @return map.get(map.get($themes, $mode), $key);
}

.light {
  @each $key, $value in map.get($themes, light) {
    --#{$key}: #{$value};
  }
}

.dark {
  @each $key, $value in map.get($themes, dark) {
    --#{$key}: #{$value};
  }
}

/* Sizes */

$sizing-xtrasmall: 4px;
$sizing-small: 8px;
$sizing-medium: 16px;
$sizing-large: 24px;

/* Paddings */

$padding-xtrasmall: $sizing-xtrasmall;
$padding-small: $sizing-small;
$padding-medium: $sizing-medium;
$padding-large: $sizing-large;

/* Gap */

$gap-xtrasmall: $sizing-xtrasmall;
$gap-small: $sizing-small;
$gap-medium: $sizing-medium;
$gap-large: $sizing-large;
